<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


    <!--<context-param>
        <param-name>config-file</param-name>
        <param-value>quartz.properties</param-value>
    </context-param>
    <context-param>
        <param-name>shutdown-on-unload</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>start-scheduler-on-load</param-name>
        <param-value>false</param-value>
    </context-param>


    <listener>
        <listener-class>
            org.quartz.ee.servlet.QuartzInitializerListener
        </listener-class>
    </listener>-->
    

    <listener>
        <listener-class>com.rsc.moneta.listener.MainAppListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Platika</servlet-name>
        <servlet-class>com.rsc.moneta.servlet.OSMP</servlet-class>
        <init-param>
            <param-name>login</param-name>
            <param-value>platika</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>platika</param-value>
        </init-param>
        <init-param>
            <param-name>handler</param-name>
            <param-value>com.rsc.moneta.module.inputhandler.OSMPInputHandler</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.apache.myfaces.webapp.StartupServletContextListener</listener-class>
    </listener>
    <context-param>
        <param-name>OutputHandlerId.0</param-name>
        <param-value>0</param-value>
    </context-param>
    <context-param>
        <param-name>OutputHandlerCount</param-name>
        <param-value>1</param-value>
    </context-param>
    <context-param>
        <param-name>OutputHandlerClass.0</param-name>
        <param-value>com.rsc.moneta.module.outputhandler.TaisOutputHandler</param-value>
    </context-param>
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>struts-cleanup</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ActionContextCleanUp</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>struts-cleanup</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>Platika</servlet-name>
        <url-pattern>/Platika.html</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <security-constraint>
        <display-name>Platika</display-name>
        <web-resource-collection>
            <web-resource-name>Platika private area</web-resource-name>
            <description/>
            <url-pattern>/Platika.html</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>platika</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>MemoryRealm</realm-name>
    </login-config>
    <security-role>
        <description/>
        <role-name>platika</role-name>
    </security-role>
   



    
-
    

    </web-app>
